@media(max-width: 900px){

  .navbar{
    display: none;
  }

  .hero-content{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-buttons{
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-text h1{
    font-size: 46px;
  }
}